<div class="container" *ngIf="missionIn">

  <div class="alert alert-secondary" role="alert">
    <div class="row">

      <div class="col-6">
        <div class="row">
          <div class="col"><span style="font-size: medium"> <b>  Nom du mission :  </b> </span> </div>
          <div class="col">{{missionIn.nomMission}}</div>
        </div>

        <div class="row">
          <div class="col"><span style="font-size: medium">  <b> Client  :  </b></span> </div>
          <div class="col"></div>
        </div>

      </div>


      <div class="col-6">
        <div class="row">
          <div class="col"><span style="font-size: medium"> <b>  Projet :  </b> </span> </div>
          <div class="col"></div>
        </div>

        <div class="row">
          <div class="col"><span style="font-size: medium">  <b> Nature mission  :  </b></span> </div>
          <div class="col"></div>
        </div>

      </div>
    </div>

    <div class="row">

      <div class="col-6">
        <div class="row">
          <div class="col"><span style="font-size: medium"> <b>  Date debut :  </b> </span> </div>
          <div class="col">{{missionIn.dateDebut}}</div>
        </div>

        <div class="row">
          <div class="col"><span style="font-size: medium">  <b> Date Fin  :  </b></span> </div>
          <div class="col">{{missionIn.dateFin}}</div>
        </div>

      </div>


      <div class="col-6">
        <div class="row">
          <div class="col"><span style="font-size: medium"> <b>  Etat :  </b> </span> </div>
          <div class="col"></div>
        </div>

        <div class="row">
          <div class="col"><span style="font-size: medium">  <b> Auditeurs  :  </b></span> </div>
          <div class="col"></div>
        </div>

      </div>



    </div>






  </div>
</div>
