 <mat-drawer  class="example-sidenav" #drawer id="sidebar" mode="side">
    <div class="sidebar-header">

      <div class="form-inline">
      <img src="../../assets/img/1.png"  style="width:45px;height:50px;">
        &nbsp;
        <label> <b>Amine Rached</b> </label>
      </div>
    </div>


    <ul class="list-unstyled components">
      <li class="active">
        <div class="form-inline">
          <i class="material-icons" style="font-size:30px;color:white;margin-top:15px;">dashboard</i>
          <a href="#">  <span class="glyphicon glyphicon-dashboard"></span>Tableau de bord</a>

        </div>
      </li>

      <li>
        <div class="form-inline">
          <i class="fa fa-users" style="font-size:30px;color:white;margin-top:15px;"></i>
        <a routerLink="auditeur">Utilisateurs</a>
        </div>
      </li>




      <li>
        <div class="form-inline">
          <i class='far fa-envelope' style='font-size:30px;color:white;margin-top:15px;'></i>
          <a routerLink="missions">Missions</a>
        </div>
      </li>
      <li>
        <div class="form-inline">
          <i class='far fa-clone' style='font-size:30px;color:white;margin-top:15px;'></i>
          <a routerLink="categorie">Catégories</a>
        </div>
      </li>
      <li>
        <div class="form-inline">
        <i class="material-icons" style="font-size:30px;color:white;margin-top:15px;">work</i>
        <a href="#">espace de travail</a>
        </div>
      </li>

      <li>
        <div class="form-inline">
          <i class="material-icons" style="font-size:30px;color:white;margin-top:15px;">notifications</i>
          <a href="#">Notifications</a>
        </div>
      </li>
      <li>
        <div class="form-inline">
          <i class="material-icons" style="font-size:30px;color:white;margin-top:15px;">power_settings_new</i>
        <a href="#" (click)="logout()">Deconnexion</a>
        </div>
      </li>
    </ul>


  </mat-drawer>

  <div class="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <button type="button" mat-button (click)="drawer.toggle()">
       =
      </button>

      <!--<a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </nav>



<router-outlet></router-outlet>





  </div>








