<h1 class="display-4">Ajout Control</h1>
<div class="container">
  <div class="row">
    <div class="col-sm">

      <div class="form-group">
        <label>Titre Control</label>
        <input id="titreControl" class="form-control"  #titre/>
      </div>

    </div>


    <div class="col-sm">


      <div class="form-group">
        <label>Description</label>
        <textarea id="DescriptionControl" class="form-control" rows="5"  #description></textarea>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-primary">Annuler</button> &nbsp;
      <button class="btn btn-primary" (click)="add(
  0,
   titre.value,
  description.value
  ); ">
        Enregistrer
      </button>
    </div>

  </div>
</div>
